body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: rgb(141, 135, 133);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #4CAF50;
  margin-bottom: 20px;
}

#question-container {
  margin-bottom: 30px;
}

#question-number {
  font-weight: bold;
}

#question {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

#choices {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#choices li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}

label {
  cursor: pointer;
  flex: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
  transition: background-color 0.2s ease, transform 0.2s ease;
}

button:focus {
  outline: none;
}
